.font-body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.font-title {
	font-family: 'Joti One', cursive;
}

.font-bold {
	font-weight: 700;
}

.container {
	max-width: 1080px;
	margin: 20px auto 0;
	color: #000;
}

/***************************************** Header **************************************/
header {
	padding: 10px 0 100px;
	text-align: center;
}	

header nav {
	border-top: 1px solid #333;
}

.logo {
	width: 100%;
	padding-bottom: 40px;
	font-size: 3em;
}

.nav {
	display: inline-block;
	margin: 0 auto;
	padding-top: 30px;
}

.nav > .nav-item {
	float: left;
	padding-left: 90px;
}

.nav > .nav-item:first-child {
	padding-left: 0;
}

.nav .nav-link {
	color: #000;
}

.nav .nav-selected {
	font-weight: 700;
}

.nav .nav-link:hover, .nav .nav-link:focus {
	color: #38A04E;
}

.nav .nav-selected:hover {
	color: #000;
}